@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'nizzoli';
  src: url('assets/fonts/nizzolird-bold-webfont.woff2') format('woff2'),
       url('assets/fonts/nizzolird-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo {
  font-family: 'nizzoli'
}